@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-ubuntu: Ubuntu, 'sans-serif';
  --font-ubuntu-mono: 'Ubuntu Mono', monospace;

  --color-white: white;
  --color-green-200: #e6ffe8;
  --color-green-300: #e6ffe8;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #115829;

  --color-gray-50: #fafafd;
  --color-gray-200: #eceefa;
  --color-gray-300: #dde1f5;
  --color-gray-700: #3a4266;
}

html,
body {
  padding: 0;
  margin: 0;
  @apply font-ubuntu;
}

img {
  @apply inline-block;
}
